{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h2>Editar Proyecto/Grupo </h2>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-auto">
                        {{ form_start(edit_form) }}
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Código</span>
                                    </div>
                                    {{ form_widget(edit_form.codigo, {'attr' : {'class' : 'form-control' }}) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.codigo)}}</span>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Código UTN</span>
                                    </div>
                                    {{ form_widget(edit_form.codigoUtn, {'attr' : {'class' : 'form-control' }}) }}
                                </div>

                                <span class="text-danger"> {{form_errors(edit_form.codigoUtn)}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nombre</span>
                                    </div>
                                    {{ form_widget(edit_form.nombre, {'attr' : {'class' : 'form-control' }}) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.nombre)}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Usuario</span>
                                    </div>
                                    {{ form_widget(edit_form.usuario, {'attr' : {'class' : 'form-control' }}) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.usuario)}}</span>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Saldo</span>
                                    </div>
                                    {{ form_widget(edit_form.saldo, {'attr' : {'class' : 'form-control' }}) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.saldo)}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{form_label(edit_form.fechaInicio)}}
                                {{ form_widget(edit_form.fechaInicio, {'attr' : {'class' : 'input-group date' }}) }}
                                <span class="text-danger"> {{form_errors(edit_form.fechaInicio)}}</span>
                            </div>
                            <div class="col">
                                {{form_label(edit_form.fechaFin)}}
                                {{ form_widget(edit_form.fechaFin, {'attr' : {'class' : 'input-group date' }}) }}
                                <span class="text-danger"> {{form_errors(edit_form.fechaFin)}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="btn-group btn-group-toggle">
                                    <input class="btn btn-success" type="submit" value="Editar" />
                                    {{ form_end(edit_form) }}
                                    {{ form_start(delete_form) }}
                                    <input class="btn btn-danger" type="submit" value="Borrar">
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
