{% extends 'base.html.twig' %}
{% block body %}
    <h1>Lista de Proyectos/Grupos</h1>
    
    <div class="row  justify-content-md-center">
    <div class="col-12 col-md-auto">
        <table id="table_id" class="table table-responsive table-striped">
            <thead class="thead-default">
                <tr>
                    <th class="awesome">Codigo</th>
                    <th class="awesome">Codigo UTN</th>
                    <th class="awesome">Nombre</th>
                    <th class="awesome">Fecha Inicio</th>
                    <th class="awesome">Fecha Fin</th>
                    <th class="awesome">Saldo</th>
                    <th class="awesome">Usuario</th>
                    <th class="awesome">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proyectoGrupo in proyectoGrupos %}
                    <tr>
                        <td>{{ proyectoGrupo.codigo }}</td>
                        <td>{{ proyectoGrupo.codigoUtn }}</td>
                        <td>{{ proyectoGrupo.nombre }}</td>
                        <td>{% if proyectoGrupo.fechaInicio %}{{ proyectoGrupo.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if proyectoGrupo.fechaFin %}{{ proyectoGrupo.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ proyectoGrupo.saldo }}</td>
                        <td>{{ proyectoGrupo.usuario.nombre }}</td>
                        <td>
                            <div class="btn-group btn-group-toggle">
                                <a class="btn btn-info" href="{{ path('proyectogrupo_mostrar', { 'id': proyectoGrupo.id }) }}">Mostar</a>
                                <a  class="btn btn-success" href="{{ path('proyectogrupo_editar', { 'id': proyectoGrupo.id }) }}">Editar</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
