{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1 class="display-4">Visualización Usuario</h1>
        <table class="table table-striped table-responsive ">
            <tbody>
                <tr>
                    <th>Codigo</th>
                    <td>{{ proyectoGrupo.codigo }}</td>
                </tr>
                <tr>
                    <th>Codigoutn</th>
                    <td>{{ proyectoGrupo.codigoUtn }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ proyectoGrupo.nombre }}</td>
                </tr>
                <tr>
                    <th>Fechainicio</th>
                    <td>{% if proyectoGrupo.fechaInicio %}{{ proyectoGrupo.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Fechafin</th>
                    <td>{% if proyectoGrupo.fechaFin %}{{ proyectoGrupo.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Saldo</th>
                    <td>{{ proyectoGrupo.saldo }}</td>
                </tr>
            </tbody>
        </table>

        <div class="btn-group btn-group-toggle">
            <a class="btn btn-primary" href="{{ path('proyectogrupo_listar') }}">Listar</a>
            <a class="btn btn-success" href="{{ path('proyectogrupo_editar', { 'id': proyectoGrupo.id }) }}">Editar</a>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
