<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}SCyT{% endblock %}</title>  
        {% stylesheets
            '@AppBundle/Resources/public/css/bootstrap.min.css'
            '@AppBundle/Resources/public/css/dataTables.bootstrap4.min.css'
            filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <style type="text/css">
            .input-group-text, .awesome, .col-12{
                border: 1px solid rgba(0, 0, 0, 0.6);
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                background-color: transparent;                
                background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
                background-repeat: no-repeat;
                -webkit-filter: none;
                filter: none;
                color: #fff;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            }
            .col-12{
                padding-bottom: 20px;
                padding-top: 30px;
                padding-left: 20px;
                padding-right: 20px;
            }
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="top"> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2" style="background-color: #e3f2fd;">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Gestor de Proyectos</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administrador
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item"  href="{{ path('usuario_nuevo')}}">Crear usuario</a>
                            <a class="dropdown-item" href="{{ path('usuario_listar')}}">Listar usuarios</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Investigador
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">                                
                            <a class="dropdown-item" href="{{ path('solicitud_new')}}">Crear soliciutd</a>
                            <a class="dropdown-item" href="{{ path('solicitud_index')}}">Listar solicitudes</a>
                            <a class="dropdown-item" href="{{ path('usuario_balance')}}">Consultar Cuenta</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Coordinador
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('proyectogrupo_nuevo')}}">Crear Proyecto/Grupo</a>
                            <a class="dropdown-item" href="{{ path('proyectogrupo_listar')}}">Listar Proyectos/Grupos</a>
                            <a class="dropdown-item" href="{{ path('usuario_balance_general')}}">Consultar Balance Gral.</a>
                        </div>
                    </li>                 
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="btn btn-danger" role="button" aria-disabled="true" href="{{logout_path()}}">Logout</a>
                        {% endif %}
                        <button type="button" class="btn btn-danger">Logout</button>
                    </li>
                </ul>
            </div>
        </nav>                       
        {% block body %}
        {% endblock %}

        <div id="myProgressBar" style="visibility: hidden;"></div>
        {% block javascripts %}
            {% javascripts 
                '@AppBundle/Resources/public/js/jquery-3.2.1.min.js'  
                '@AppBundle/Resources/public/js/jquery.dataTables.min.js'
            	'@AppBundle/Resources/public/js/bootstrap.min.js'
                '@AppBundle/Resources/public/js/dataTables.bootstrap4.min.js'
                '@AppBundle/Resources/public/js/solicitud_concepto.js'
                output='js/compiled/main.js'      	                                             
            %}
            <script src="{{ asset_url }}"></script> 
            {% endjavascripts %}                                         
            <script type="text/javascript">
                $('ul.navbar-nav li.nav-item').hover(function () {
                    $(this).find('.dropdown-menu').stop(true, true).delay(50).fadeIn(500);
                }, function () {
                    $(this).find('.dropdown-menu').stop(true, true).delay(50).fadeOut(500);
                });
            </script>     
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#table_id').dataTable({
                        "language": {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });
                });
            </script>    
        {% endblock %}
    </body>
</html>
