<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}SCyT{% endblock %}</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/jquery-ui-git.css" type="text/css" />   
        {% stylesheets '@AppBundle/Resources/public/css/bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" /> 
        <style type="text/css">
            .col-12{
                border:1px solid #ccc;
                background-color:#e4e5e6;
                border-top-width: 5px;
                border-bottom-width: 5px;
                border-right-width: 5px;
                border-left-width: 5px;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        </style>
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="top"> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Gestor de Proyectos</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item active">
                         <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                     </li>-->
                    <!--
                    <li class="nav-item">
                    <a class="nav-link" href="#">Usuarios</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                    </li>
                    -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item"  href="{{ path('usuario_new')}}">Crear</a>
                            <a class="dropdown-item" href="{{ path('usuario_index')}}">Consultar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Solicitudes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('solicitud_new')}}">Crear</a>
                            <a class="dropdown-item" href="{{ path('solicitud_index')}}">Consultar</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Proyectos/Grupos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('proyectogrupo_new')}}">Crear</a>
                            <a class="dropdown-item" href="{{ path('proyectogrupo_new')}}">Consultar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cuentas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('usuario_balance')}}">Consultar Balance Gral.</a>
                            <a class="dropdown-item" href="{{ path('usuario_balance_general')}}">Consultar Cuenta Propia</a>
                        </div>
                    </li>                    
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="btn btn-danger" role="button" aria-disabled="true" href="{{logout_path()}}">Logout</a>
                        {% endif %}
                        <button type="button" class="btn btn-danger">Logout</button>
                    </li>
                </ul>
            </div>
        </nav>

        {% block body %}
        {% endblock %}

        <div id="myProgressBar" style="visibility: hidden;"></div>
        {% block javascripts %}
            {% javascripts 
                '@AppBundle/Resources/public/js/jquery-3.2.1.js'               
            	'@AppBundle/Resources/public/js/bootstrap.min.js'	     
                '@AppBundle/Resources/public/js/interface.js'          
            %}
            <script src="{{ asset_url }}"></script> 
            {% endjavascripts %}        
            <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>                                  
            <script type="text/javascript">
                $('ul.navbar-nav li.nav-item').hover(function () {
                    $(this).find('.dropdown-menu').stop(true, true).delay(50).fadeIn(500);
                }, function () {
                    $(this).find('.dropdown-menu').stop(true, true).delay(50).fadeOut(500);
                });
            </script>          
        {% endblock %}
    </body>
</html>
