{% extends 'base.html.twig' %}

{% block body %}


<div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h2> Asignacion a Proyecto o Grupo </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-auto">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col">
	                    {{form_label(form.monto)}}
						{{ form_widget(form.monto, {'attr' : {'class' : 'form-control' }}) }}
						<span class="text-danger"> {{form_errors(form.monto)}}</span>
					</div>
                    <div class="col">
	                    {{form_label(form.descripcion)}}
						{{ form_widget(form.descripcion, {'attr' : {'class' : 'form-control' }}) }}
						<span class="text-danger"> {{form_errors(form.descripcion)}}</span>
					</div>
                </div>
                <div class="row">
                    <div class="col">
                	{{form_label(form.asignacionGlobal)}}
					{{ form_widget(form.asignacionGlobal, {'attr' : {'class' : 'form-control'}}) }}
					<span class="text-danger"> {{form_errors(form.asignacionGlobal)}}</span>
	           
                 </div>
                   
                   <div class="col align-self-end align-items-end">
                    <input class="btn btn-sucess" type="submit" value="Asignar" />
                    </div> 
                         {{ form_end(form) }}
            </div>
        </div>
    </div>




	
		</div>
		<ul>
	        <li>
	            <a href="{{ path('proyectogrupo_index') }}">Volver a la lista</a>
        	</li>
    	</ul>
	</div>
 

    
{% endblock %}
