{% extends 'base.html.twig' %}

{% block body %}

	<div class="main_container">
		<div class="row well">
			<div class="col-md-6">
				<div class="page-header">
					<h2> Asignacion a Proyecto o Grupo </h2>
				</div>
				
				{{ form_start(form) }}
    				<div class="form-group" >
    				{{form_label(form.monto)}}
					{{ form_widget(form.monto, {'attr' : {'class' : 'form-control' }}) }}
					<span class="text-danger"> {{form_errors(form.monto)}}</span>
					
					{{form_label(form.descripcion)}}
					{{ form_widget(form.descripcion, {'attr' : {'class' : 'form-control' }}) }}
					<span class="text-danger"> {{form_errors(form.descripcion)}}</span>
					
					{{form_label(form.asignacionGlobal)}}
					{{ form_widget(form.asignacionGlobal, {'attr' : {'class' : 'form-control'}}) }}
					<span class="text-danger"> {{form_errors(form.asignacionGlobal)}}</span>
					
        			<input class="btn btn-sucess" type="submit" value="Asignar" />
					</div>
        
   				 {{ form_end(form) }}
			</div>

	
		</div>
		<ul>
	        <li>
	            <a href="{{ path('proyectogrupo_index') }}">Volver a la lista</a>
        	</li>
    	</ul>
	</div>
 

    
{% endblock %}
