{% extends 'base.html.twig' %}

{% block body %}
    <h1>Asignación</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td class="form-control">{{ asignacion.id }}</td>
            </tr>
           
            <tr>
                <th>Monto</th>
                <td class="form-control">{{ asignacion.monto }}</td>
            </tr>
           
            <tr>
                <th>Fecha</th>
                <td class="form-control">{% if asignacion.fechaAsignacion %}{{ asignacion.fechaAsignacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td class="form-control">{{ asignacion.descripcion }}</td>
            </tr>
            
            <tr>
                <th>Asignacion global</th>
                <td class="form-control">{{ asignacion.asignacionGlobal }}</td>
            </tr>
            
        </tbody>
    </table>

    
{% endblock %}
