{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h2>Editar Solicitud </h2>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-auto">
                        {{ form_start(edit_form) }}
                        <h4>Lugar Realización</h4>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Dirección de Realización</span>
                                    </div>
                                    {{ form_widget(edit_form.direccion, {'attr' : {'class' : 'form-control' }}) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.direccion)}}</span>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Localidad de Realización</span>
                                    </div>
                                    {{ form_widget(edit_form.localidad, {'attr' : {'class' : 'form-control' }}) }}

                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.localidad)}}</span>
                            </div>
                        </div><hr />

                        <h4>Fecha Realización</h4>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Inicio</span>
                                    </div>
                                    {{ form_widget(edit_form.fechaInicio) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.fechaInicio)}}</span>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Fin</span>
                                    </div>
                                    {{ form_widget(edit_form.fechaFin) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.fechaFin)}}</span>
                            </div>
                        </div><hr />

                        <h4>Datos Evento</h4> 
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nombre del Evento</span>
                                    </div>
                                    {{ form_widget(edit_form.nombreEvento, {'attr' : {'class' : 'form-control' }}) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.nombreEvento)}}</span>
                            </div>     
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Tipo de Evento</span>
                                    </div>
                                    {{ form_widget(edit_form.tipoevento, {'attr' : {'class' : 'form-control' }}) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.tipoevento)}}</span>
                            </div> 
                        </div><hr />

                        <h4>Datos Trabajo</h4>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Autores</span>
                                    </div>
                                    {{ form_widget(edit_form.autores, {'attr' : {'class' : 'form-control' }}) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.autores)}}</span>
                            </div> 
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Contratados</span>
                                    </div>
                                    {{ form_widget(edit_form.contratados, {'attr' : {'class' : 'form-control' }}) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.contratados)}}</span>
                            </div>     
                        </div><hr />
                        <h4>Grupo o Proyecto</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nombre</span>
                                    </div>
                                    {{ form_widget(edit_form.proyectoGrupo, {'attr' : {'class' : 'form-control' }}) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.proyectoGrupo)}}</span>
                            </div>     
                        </div><hr />
                        <h4>Cantidad de Días</h4>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Fecha de salida</span>
                                    </div>
                                    {{ form_widget(edit_form.fechaSalida) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.fechaSalida)}}</span>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Fecha de llegada</span>
                                    </div>
                                    {{ form_widget(edit_form.fechaLlegada) }}

                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.fechaLlegada)}}</span>
                            </div>
                        </div><hr />
                        <h4>Concepto de Gastos</h4>
                        <div class="conceptoImporte" data-prototype="{{ form_row(edit_form.conceptos.vars.prototype)|e('html_attr') }}">                                           
                            {% for elemento in edit_form.conceptos %} 
                                <div class="quitar">
                                    <div class="row mb-2">
                                        <div class="col">                                             
                                            {{ form_widget(elemento.concepto, {'attr' : {'class' : 'form-control' }}) }}                                                      
                                        </div>
                                        <div class="col"> 
                                            {{ form_widget(elemento.monto, {'attr' : {'class' : 'form-control' }}) }} 
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row mb-2"> 
                                <div class="col"> 
                                    <input class="btn btn-secondary add_tag_link" value="Agregar Concepto" />
                                </div>                       
                            </div><hr />
                        </div>
                        <h4>Importe Total</h4>
                        <div class="row">                    
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nro. Nota</span>
                                    </div>
                                    {{ form_widget(edit_form.nroNota, {'attr' : {'class' : 'form-control' }}) }}

                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.nroNota)}}</span>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Total</span>
                                    </div>
                                    {{ form_widget(edit_form.importeTotal, {'attr' : {'class' : 'form-control' }}) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.importeTotal)}}</span>
                            </div>     
                        </div><hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Observaciones</span>
                                    </div>
                                    {{ form_widget(edit_form.observaciones, {'attr' : {'class' : 'form-control' }}) }}
                                </div>
                                <span class="text-danger"> {{form_errors(edit_form.observaciones)}}</span>
                            </div> 
                        </div><hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group btn-group-toggle">
                                    <input class="btn btn-success" type="submit" value="Guardar" />
                                    {{ form_end(edit_form) }}
                                    {{ form_start(delete_form) }}
                                    <input class="btn btn-danger" type="submit" value="Borrar">
                                    {{ form_end(delete_form) }}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}
