{% extends 'base.html.twig' %}

{% block body %}
    <h1>Solicituds list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechageneracion</th>
                <th>Fechaultimamodificacion</th>
                <th>Direccion</th>
                <th>Fechainicio</th>
                <th>Fechafin</th>
                <th>Nombreevento</th>
                <th>Fechasalida</th>
                <th>Fechallegada</th>
                <th>Importetotal</th>
                <th>Estado</th>
                <th>Autores</th>
                <th>Ejercicio</th>
                <th>Observaciones</th>
                <th>Nronota</th>
                <th>Fecharevision</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for solicitud in solicituds %}
            <tr>
                <td><a href="{{ path('solicitud_show', { 'id': solicitud.id }) }}">{{ solicitud.id }}</a></td>
                <td>{% if solicitud.fechaGeneracion %}{{ solicitud.fechaGeneracion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if solicitud.fechaUltimaModificacion %}{{ solicitud.fechaUltimaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ solicitud.direccion }}</td>
                <td>{% if solicitud.fechaInicio %}{{ solicitud.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if solicitud.fechaFin %}{{ solicitud.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ solicitud.nombreEvento }}</td>
                <td>{% if solicitud.fechaSalida %}{{ solicitud.fechaSalida|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if solicitud.fechaLlegada %}{{ solicitud.fechaLlegada|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ solicitud.importeTotal }}</td>
                <td>{{ solicitud.estado }}</td>
                <td>{{ solicitud.autores }}</td>
                <td>{{ solicitud.ejercicio }}</td>
                <td>{{ solicitud.observaciones }}</td>
                <td>{{ solicitud.nroNota }}</td>
                <td>{% if solicitud.fechaRevision %}{{ solicitud.fechaRevision|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('solicitud_show', { 'id': solicitud.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('solicitud_edit', { 'id': solicitud.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('solicitud_new') }}">Create a new solicitud</a>
        </li>
    </ul>
{% endblock %}
