{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h2>Nueva Solicitud </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-auto">
                {{ form_start(form) }}
                <h4>Lugar Realización</h4>
                <div class="row">                    
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Dirección</span>
                            </div>
                            {{ form_widget(form.direccion, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.direccion)}}</span>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Localidad</span>
                            </div>
                            {{ form_widget(form.localidad, {'attr' : {'class' : 'form-control' }}) }}

                        </div>
                        <span class="text-danger"> {{form_errors(form.localidad)}}</span>
                    </div>
                </div><hr />
                <h4>Fecha Realización</h4>                    
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Inicio</span>
                            </div>
                            {{ form_widget(form.fechaInicio) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.fechaInicio)}}</span>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fin</span>
                            </div>
                            {{ form_widget(form.fechaFin) }}

                        </div>
                        <span class="text-danger"> {{form_errors(form.fechaFin)}}</span>
                    </div>
                </div><hr />
                <h4>Datos Evento</h4> 
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nombre del Evento</span>
                            </div>
                            {{ form_widget(form.nombreEvento, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.nombreEvento)}}</span>
                    </div>     
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tipo de Evento</span>
                            </div>
                            {{ form_widget(form.tipoevento, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.tipoevento)}}</span>
                    </div> 
                </div><hr />
                <h4>Datos Trabajo</h4>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Autores</span>
                            </div>
                            {{ form_widget(form.autores, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.autores)}}</span>
                    </div>  
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Contratados</span>
                            </div>
                            {{ form_widget(form.contratados, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.contratados)}}</span>
                    </div> 
                </div><hr />
                <h4>Grupo o Proyecto</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nombre</span>
                            </div>
                            {{ form_widget(form.proyectoGrupo, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.proyectoGrupo)}}</span>
                    </div>     
                </div><hr />
                <h4>Cantidad de Días</h4>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha de salida</span>
                            </div>
                            {{ form_widget(form.fechaSalida) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.fechaSalida)}}</span>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha de llegada</span>
                            </div>
                            {{ form_widget(form.fechaLlegada) }}

                        </div>
                        <span class="text-danger"> {{form_errors(form.fechaLlegada)}}</span>
                    </div>
                </div><hr />
                <h4>Concepto de Gastos</h4>
                <div class="conceptoImporte" data-prototype="{{ form_widget(form.conceptos.vars.prototype)|e('html_attr') }}">                                           

                    <div class="row mb-2"> 
                        <div class="col"> 
                            <input class="btn btn-secondary add_tag_link" value="Agregar Concepto" />
                        </div>                       
                    </div><hr />
                </div>
                <h4>Importe Total</h4>
                <div class="row">                    
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Observaciones</span>
                            </div>
                            {{ form_widget(form.observaciones, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.observaciones)}}</span>
                    </div> 
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Total</span>
                            </div>
                            {{ form_widget(form.importeTotal, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.importeTotal)}}</span>
                    </div>     
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nro. Nota</span>
                            </div>
                            {{ form_widget(form.nroNota, {'attr' : {'class' : 'form-control' }}) }}

                        </div>
                        <span class="text-danger"> {{form_errors(form.nroNota)}}</span>
                    </div>
                </div><hr />
                <div class="row">
                    <div class="col align-self-end align-items-end">
                        <input class="btn btn-success" type="submit" value="Crear" />
                    </div> 
                </div><hr />
                {{ form_end(form) }}
            </div>
        </div>
        <ul>
            <li>
                <a href="{{ path('solicitud_index') }}">Volver a la lista</a>
            </li>
        </ul>
    </div>
{% endblock %}