{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h2>Nueva Solicitud </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-auto">
                <!--{{ form_start(form, {'attr': {'id': 'form_nueva_solicitud'}}) }}-->
                {{ form_start(form) }}
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Dirección de Realización</span>
                            </div>
                            {{ form_widget(form.direccion, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.direccion)}}</span>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Localidad de Realización</span>
                            </div>
                            {{ form_widget(form.localidad, {'attr' : {'class' : 'form-control' }}) }}

                        </div>
                        <span class="text-danger"> {{form_errors(form.localidad)}}</span>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha Inicio</span>
                            </div>
                            {{ form_widget(form.fechaInicio) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.fechaInicio)}}</span>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha Fin</span>
                            </div>
                            {{ form_widget(form.fechaFin) }}

                        </div>
                        <span class="text-danger"> {{form_errors(form.fechaFin)}}</span>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nombre del Evento</span>
                            </div>
                            {{ form_widget(form.nombreEvento, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.nombreEvento)}}</span>
                    </div>     
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Proyecto/Grupo</span>
                            </div>
                            {{ form_widget(form.proyectoGrupo, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.proyectoGrupo)}}</span>
                    </div> 
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Autores</span>
                            </div>
                            {{ form_widget(form.autores, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.autores)}}</span>
                    </div>     
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Contratados</span>
                            </div>
                            {{ form_widget(form.contratados, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.contratados)}}</span>
                    </div>     
                </div>


                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha de salida</span>
                            </div>
                            {{ form_widget(form.fechaSalida) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.fechaSalida)}}</span>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha de llegada</span>
                            </div>
                            {{ form_widget(form.fechaLlegada) }}

                        </div>
                        <span class="text-danger"> {{form_errors(form.fechaLlegada)}}</span>
                    </div>
                </div>

                



                <table class="table table-bordered">
                    <tbody>

                        <tr>
                            <th class="awesome">Concepto de gasto:</th>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group-prepend">
                                        <label>  {{form_widget(form.chkpasajes, {'attr' : {'id' : 'chkpasajes' }}) }} Pasajes</label>
                                           
                                        </div>
                                        <div class="input-group-prepend">
                                            {{form_widget(form.mntPasajes, {'attr' : {'id' : 'mntPasajes' }}) }}
                                        </div>
                                       
                                        <div class="input-group-prepend">
                                            {{form_widget(form.chkviaticos, {'attr' : {'id' : 'chkviaticos' }}) }}
                                        </div>
                                        <div class="input-group-prepend">
                                            {{form_widget(form.mntViaticos, {'attr' : {'id' : 'mntViaticos' }}) }}
                                        </div>

                                         <div class="input-group-prepend">
                                            {{form_widget(form.chkhonorarios, {'attr' : {'id' : 'chkhonorarios' }}) }}
                                        </div>
                                        <div class="input-group-prepend">
                                            {{form_widget(form.mntHonorarios, {'attr' : {'id' : 'mntHonorarios' }}) }}
                                        </div>

                                         <div class="input-group-prepend">
                                            {{form_widget(form.chkservicios, {'attr' : {'id' : 'chkservicios' }}) }}
                                        </div>
                                        <div class="input-group-prepend">
                                            {{form_widget(form.mntServicios, {'attr' : {'id' : 'mntServicios' }}) }}
                                        </div>

                                         <div class="input-group-prepend">
                                            {{form_widget(form.chkinscripcion, {'attr' : {'id' : 'chkinscripcion' }}) }}
                                        </div>
                                        <div class="input-group-prepend">
                                            {{form_widget(form.mntInscripcion, {'attr' : {'id' : 'mntInscripcion' }}) }}
                                        </div>

                                         <div class="input-group-prepend">
                                            {{form_widget(form.chkotros, {'attr' : {'id' : 'chkotros' }}) }}
                                        </div>
                                        <div class="input-group-prepend">
                                            {{form_widget(form.otros, {'attr' : {'id' : 'otros' }}) }}
                                            {{form_widget(form.mntOtros, {'attr' : {'id' : 'mntOtros' }}) }}
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </td>                         
                        </tr>
                        <tr>
                            <th class="awesome">Tipo de Evento:</th>
                            <td>
                                <div class="row">
                                    <div class="col">		
                                        <div class="radio">
                                            <label><input type="radio" name="optradio">Congreso</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="optradio">Curso</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="optradio">Reunion Cientifica</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="optradio">Otros</label>
                                            <input type="text" id="otrs" placeholder="Detallar">
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>



                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nro. Nota</span>
                            </div>
                            {{ form_widget(form.nroNota, {'attr' : {'class' : 'form-control' }}) }}

                        </div>
                        <span class="text-danger"> {{form_errors(form.nroNota)}}</span>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Importe Total</span>
                            </div>
                            {{ form_widget(form.importeTotal, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.importeTotal)}}</span>
                    </div>     
                </div>



                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Observaciones</span>
                            </div>
                            {{ form_widget(form.observaciones, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <span class="text-danger"> {{form_errors(form.observaciones)}}</span>
                    </div>     
                </div>





                <div class="row">
                    <div class="col align-self-end align-items-end">
                        <input class="btn btn-success" type="submit" value="Crear" />
                    </div> 
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <ul>
            <li>
                <a href="{{ path('solicitud_index') }}">Volver a la lista</a>
            </li>
        </ul>
    </div>
{% endblock %}