{% extends 'base.html.twig' %}

{% block head %}


   
   
	            <script> 
	             
		            $(document).ready(function(){
		            
		            
		            $("#chkpasajes").on('change', function() {
					    if( $("#chkpasajes".is(':checked') ) {
					        $("#montoPasajes").prop('required',true);
					    } else {
					         $("#montoPasajes").removeAttr('required');
					    }
					});
					
					
					$("#chkviaticos").on('change', function() {
					    if( $("#chkviaticos".is(':checked') ) {
					        $("#montoviaticos").prop('required',true);
					    } else {
					         $("#montoviaticos").removeAttr('required');
					    }
					});
					
					
					$("#chkhorarios").on('change', function() {
					    if( $("#chkhorarios".is(':checked') ) {
					        $("#montohorarios").prop('required',true);
					    } else {
					         $("#montohorarios").removeAttr('required');
					    }
					});
					
					
					$("#chkservicios").on('change', function() {
					    if( $("#chkservicios".is(':checked') ) {
					        $("#montoservicios").prop('required',true);
					    } else {
					         $("#montoservicios").removeAttr('required');
					    }
					});
					
					
					
					$("#chkinscripcion").on('change', function() {
					    if( $("#chkinscripcion".is(':checked') ) {
					        $("#montoinscripcion").prop('required',true);
					    } else {
					         $("#montoinscripcion").removeAttr('required');
					    }
					});
					
					
					$("#chkotros").on('change', function() {
					    if( $("#chkotros".is(':checked') ) {
					        $("#otros").prop('required',true);
					         $("#montootros").prop('required',true);
					    } else {
					         $("#otros").removeAttr('required');
					         $("#montootros").removeAttr('required');
					    }
					});
			    
				
    			</script>

{% endblock %}

{% block body %}
 
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h2>Nueva Solicitud </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-auto">
                {{ form_start(form) }}

                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Lugar de Realización</th>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        {{form_label(form.direccion, 'Dirección')}}
                                        {{ form_widget(form.direccion, {'attr' : {'class' : 'form-control' }}) }}
                                        <span class="text-danger"> {{form_errors(form.direccion)}}</span>

                                    </div>
                                    <div class="col">
                                        {{form_label(form.localidad, 'Localidad')}}
                                        {{ form_widget(form.localidad, {'attr' : {'class' : 'form-control' }}) }}
                                        <span class="text-danger"> {{form_errors(form.localidad)}}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Fecha de Realización</th>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        {{form_label(form.fechaInicio, 'Fecha de inicio')}}
                                        {{ form_widget(form.fechaInicio, {'attr' : {'class' : 'input-group date' }}) }}
                                        <span class="text-danger"> {{form_errors(form.fechaInicio)}}</span>


                                    </div>
                                    <div class="col">
                                        {{form_label(form.fechaFin, 'Fecha de fin')}}
                                        {{ form_widget(form.fechaFin, {'attr' : {'class' : 'input-group date' }}) }}
                                        <span class="text-danger"> {{form_errors(form.fechaFin)}}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Concepto de gasto:</th>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="1" id="chkpasajes">Pasajes</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="2" id="chkviaticos">Viaticos</label>
                                        </div>

                                        <div class="checkbox">
                                            <label><input type="checkbox" value="3" id="chkhorarios">Honorarios</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="4" id="chkservicios">Servicios</label>
                                        </div>

                                        <div class="checkbox">
                                            <label><input type="checkbox" value="5" id="chkinscripcion">Inscripcion</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="6" id="chkotros">Otros</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="checkbox">
                                            <input type="float" id="montoPasajes" placeholder="Monto"  >
                                        </div>
                                        <div class="checkbox">
                                            <input type="float" id="montoViaticos" placeholder="Monto" >
                                        </div>

                                        <div class="checkbox">
                                            <input type="float" id="montoHonorarios" placeholder="Monto" >
                                        </div>
                                        <div class="checkbox">
                                            <input type="float" id="montoServicios" placeholder="Monto" >
                                        </div>
                                        <div class="checkbox">
                                            <input type="float" id="montoInscripcion" placeholder="Monto" >
                                        </div>
                                        <div class="checkbox">
                                            <input type="text" id="otros" placeholder="Detallar">
                                            <input type="float" id="montoOtros" placeholder="Monto">
                                        </div>
                                    </div>
                                </div>
                            </td>                         
                        </tr>
                        <tr>
                            <th>Tipo de Evento:</th>
                            <td>
                                <div class="row">
                                    <div class="col">		
                                        <div class="radio">
                                            <label><input type="radio" name="optradio">Congreso</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="optradio">Curso</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="optradio">Reunion Cientifica</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="optradio">Otros</label>
                                            <input type="text" id="otrs" placeholder="Detallar">
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Nombre del evento:</th>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        {{form_label(form.nombreEvento, 'Tipo de evento')}}
                                        {{ form_widget(form.nombreEvento, {'attr' : {'class' : 'form-control' }}) }}
                                        <span class="text-danger"> {{form_errors(form.nombreEvento)}}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <th>Título del Proyecto</th>
                    <td>
                        <div class="row">
                            <div class="col">
                                {{form_label(form.proyectoGrupo, 'Proyecto/Grupo')}}
                                {{ form_widget(form.proyectoGrupo, {'attr' : {'class' : 'form-control' }}) }}
                                <span class="text-danger"> {{form_errors(form.proyectoGrupo)}}</span>
                            </div>
                        </div>
                    </td>
                    </tr>
                    <tr>
                        <th>Autores:</th>
                        <td>
                            <div class="row">
                                <div class="col">
                                    {{form_label(form.autores, 'Autores')}}
                                    {{ form_widget(form.autores, {'attr' : {'class' : 'form-control' }}) }}
                                    <span class="text-danger"> {{form_errors(form.autores)}}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <th>Contratados:</th>
                    <td>
                        <div class="row">
                            <div class="col">
                                {{form_label(form.contratados, 'Contratados')}}
                                {{ form_widget(form.contratados, {'attr' : {'class' : 'form-control' }}) }}
                                <span class="text-danger"> {{form_errors(form.contratados)}}</span>
                            </div>
                        </div>
                    </td>
                    </tr>
                    <tr>
                        <th>Cantidad de días:</th>
                        <td>
                            <div class="row">
                                <div class="col">
                                     {{form_label(form.fechaSalida, 'Fecha de salida')}}
                                     {{ form_widget(form.fechaSalida, {'attr' : {'class' : 'input-group date' }}) }}
                                     <span class="text-danger"> {{form_errors(form.fechaSalida)}}</span>
                                </div>
                                <div class="col">
                                    {{form_label(form.fechaLlegada, 'Fecha de llegada')}}
                                    {{ form_widget(form.fechaLlegada, {'attr' : {'class' : 'input-group date' }}) }}
                                    <span class="text-danger"> {{form_errors(form.fechaLlegada)}}</span>
                                </div>	
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Importe Total:</th>
                        <td>
                            <div class="row">
                                <div class="col">
                                    {{form_label(form.importeTotal, 'Importe Total')}}
                                    {{ form_widget(form.importeTotal, {'attr' : {'class' : 'form-control' }}) }}
                                    <span class="text-danger"> {{form_errors(form.importeTotal)}}</span>

                                </div>
                                <div class="col">
                                    {{form_label(form.observaciones, 'Observaciones')}}
                                    {{ form_widget(form.observaciones, {'attr' : {'class' : 'form-control' }}) }}
                                    <span class="text-danger"> {{form_errors(form.observaciones)}}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col align-self-end align-items-end">
                        <input class="btn btn-sucess" type="submit" value="Crear" />
                    </div> 
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <ul>
            <li>
                <a href="{{ path('solicitud_index') }}">Volver a la lista</a>
            </li>
        </ul>
    </div>
{% endblock %}