{% extends 'base.html.twig' %}
{% block body %}
    <h1>Users list</h1>
	<div class="container-fluid">
        <table class="table table-responsive table-striped table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Username</th>
                    <th>Clave</th>
                    <th>Rol</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Mail</th>
                    <th>Dni</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
        	    {% for usuario in usuarios %}
                    <tr>
                        <td><a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                        <td>{{ usuario.iup }}</td>
                        <td>{{ usuario.clave }}</td>
                        <td>{{ usuario.rol }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.direccion }}</td>
                        <td>{{ usuario.telefono }}</td>
                        <td>{{ usuario.mail }}</td>
                        <td>{{ usuario.dni }}</td>
                        <td>
                        	<ul>
                                <li>
                                    <a href="{{ path('usuario_show', { 'id': usuario.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                  {% endfor %}
            </tbody>
        </table>
    
        <ul>
            <li>
            	<button type="button" role="button" aria-disabled="false"
                	onclick="location.href = '{#{{ path('usuario_new') }}'#}">Crear</span>
        		</button>
            </li>
        </ul>
	</div>
{% endblock %}
