{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h2> Asignacion de Comprobante a Solicitud </h2>
                </div>
                {{ form_start(form) }}
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-auto">
                        <div class="row">
                            <div class="col">
                                {{form_label(form.nombreArchivo, 'Detalle')}}
                                {{ form_widget(form.nombreArchivo, {'attr' : {'class' : 'form-control' }}) }}
                                <span class="text-danger"> {{form_errors(form.nombreArchivo)}}</span>
                            </div>    
                            <div class="col">
                                {{form_label(form.ubicacionArchivo, 'Ubicación')}}
                                {{ form_widget(form.ubicacionArchivo, {'attr' : {'class' : 'form-control' }}) }}
                                <span class="text-danger"> {{form_errors(form.ubicacionArchivo)}}</span>
                            </div>
                            <div class="col align-self-end">                               
                                <button type="button" class="btn btn-secondary" style="margin-top: 10px;">Adjuntar Archivo</button>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col align-self-center">
                                <button type="button" class="btn btn-primary" style="margin-top: 10px;">Asignar</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <ul>
            <li>
                <a href="{{ path('solicitud_index') }}">Volver a la lista</a>
            </li>
        </ul>
    {% endblock %}
