{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comprobante</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comprobante.id }}</td>
            </tr>
           
            <tr>
                <th>Nombre del Archivo</th>
                <td>{{ comprobante.nombreArchivo }}</td>
            </tr>
           
            <tr>
                <th>Fecha</th>
                <td>{% if comprobante.fecha %}{{ comprobante.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ubicació</th>
                <td>{{ comprobante.ubicacionArchivo }}</td>
            </tr>
            <tr>
                <th>Solicitud</th>
                <td>{{ comprobante.solicitud.getID() }}</td>
            </tr>
        </tbody>
    </table>

    
{% endblock %}
